extends layout

block content
  h1= title
    div
        form
            .input-group
                input.form-control(type='text', placeholder='Add a new band')
                span.input-group-btn
                    button.btn.btn-default.createBtn(type='submit') Create
        h1
    ul.list-group
        each band, i in bandList
            include bandListItem

            
                         
                  
