extends layout
block content
  h1= title
  p Welcome to #{title}
  p This is a  simple example of a NodeJS - ExpressJS - Mongoose - MongoDB application that allows you to Create Read Update and Delete entries in a database.
  <button class='.btn' onclick="location.href='/bandList'">See Band List</button>